protected/runtime/*
assets/*
data/
*.bat
protected/components/UserIdentity.php
protected/vendor/
protected/composer.phar
composer.phar
error_log
protected/error_log
composer.lock
.phpintel/
.phpintel
.idea/
.idea