<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="https://www.onevoip.com/signup/" />
<title>one</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">one</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/</td>
	<td></td>
</tr>
<tr>
	<td>selectWindow</td>
	<td>null</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>id=signup[companyname]</td>
	<td>companyname</td>
</tr>
<tr>
	<td>type</td>
	<td>id=signup[companysite]</td>
	<td>companywebsite</td>
</tr>
<tr>
	<td>type</td>
	<td>id=signup[contactperson]</td>
	<td>contactperson</td>
</tr>
<tr>
	<td>type</td>
	<td>id=signup[username]</td>
	<td>username</td>
</tr>
<tr>
	<td>type</td>
	<td>id=signup[password]</td>
	<td>password</td>
</tr>
<tr>
	<td>type</td>
	<td>id=signup[password2]</td>
	<td>password</td>
</tr>
<tr>
	<td>type</td>
	<td>id=signup[street]</td>
	<td>street</td>
</tr>
<tr>
	<td>type</td>
	<td>id=signup[housenr]</td>
	<td>housenumber</td>
</tr>
<tr>
	<td>type</td>
	<td>id=signup[postcode]</td>
	<td>postcode</td>
</tr>
<tr>
	<td>type</td>
	<td>id=signup[city]</td>
	<td>city</td>
</tr>
<tr>
	<td>type</td>
	<td>id=signup[email_address]</td>
	<td>emailaddress</td>
</tr>
<tr>
	<td>click</td>
	<td>id=signup[license_agreement]</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>css=input.button-big.button</td>
	<td></td>
</tr>

</tbody></table>
</body>
</html>
